.navig{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:space-between;
    align-items: center;
    background-color: chartreuse;
    color: black;
    padding: 0.25rem 1rem ;
}

.navele{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

